@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;0,6..12,800;1,6..12,400&display=swap');

:root{
  scroll-behavior: smooth;
}

body{
  /* default font size, also equal to 1rem */
  font-size: 18px; 
  font-family: 'Nunito Sans', sans-serif;
  color: #432;
  background-color: #fcfaf9;
  display: grid;
  justify-content: center;
}

a{
  color: inherit;
  transition: color 0.4s ease;
}
a:hover{
  color: rgb(255,100,0)
}
nav a{
  text-decoration: none;
  font-weight: 700;
}

h1, 
h2, 
h3{
  font-family: 'Gloock', serif;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 1.5rem;
}

p{
  margin-top: 0.5em;
  line-height: 1.4em;
}

small{
  font-size: 0.75rem;
}

img{
  width: 100%;
  height: auto;
}

section{
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #432;
}

.container{
  max-width: 1024px;
}

.experiment{
  border: 1px dashed #00000022;
  padding: 1rem;
}

#intro{
  max-width: 70ch;
}
#intro p,
#intro img{
  margin-bottom: 1.5rem;
}

.redback{
  background-color: #f00;
}

.moveContainer{
  display: flex;
  justify-content: space-between;
}
.moveBox{
  width: 100px;
  height: 100px;
  background-image: url(assets/img/iconmonstr-care-down-thin.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255,100,0);

  /* easing the movement down the page, and background colour change  */
  transition: margin-top 1s ease, background-color 0.5s ease;
}
  .moveBox:hover{
    cursor: pointer;
    background-color: rgb(0,150,255);
  }